/* line 1, ../../../sass/twig/data/data.scss */
.dt__row {
  margin-bottom: 10px;
}

/* line 5, ../../../sass/twig/data/data.scss */
.dt__column {
  font-size: 0.8em;
}

/* line 9, ../../../sass/twig/data/data.scss */
.dt__head {
  margin-bottom: 20px;
}
/* line 11, ../../../sass/twig/data/data.scss */
.dt__head .dt__column--earning {
  color: inherit;
}
/* line 14, ../../../sass/twig/data/data.scss */
.dt__head .dt__column--spending {
  color: inherit;
}

/* line 19, ../../../sass/twig/data/data.scss */
.dt__column--earning {
  color: green;
}

/* line 23, ../../../sass/twig/data/data.scss */
.dt__column--spending {
  color: red;
}
