<head>
  <title>Twig</title>
</head>

<body>
  <header>
    <div class="header row" role="header">
      <div class="large-12 columns">
        <nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><a href="#">Twig</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
              <li class="divider"></li>
              <li><a href="#">Rechnung</a></li>
              <li class="divider"></li>
              <li><a href="#">Übersicht</a></li>
              <li class="divider"></li>
              <li><a href="#">Drucken</a></li>
              <li class="divider"></li>
            </ul>
            <ul class="right">
              {{loginButtons align="right"}}
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>
  <div role="main" class="container">
    {{#if currentUser}}
      {{> data}}
    {{else}}
      {{> start}}
    {{/if}}
  </div>
  <footer role="footer">

  </footer>
  
</body>


<template name="start">
  <div class="row">
    <div class="large-12 columns">
      <h1>Please Login</h1>
    </div>
  </div>  
</template>

