<template name="total">
  <li><a href="#">{{balance}}</a></li>
</template>

<template name="yearsel">
  <form class="">
    <select name="yearsel" class="yearsel__select">
      <option value="2013" selected>2013</option>
      <option value="2012">2012</option>
    </select>
  </form>
</template>

<template name="main_menu">
  <li class='{{is_active "overview"}}'><a class="navlink" href="overview">Dashboard</a></li>
  <li class='{{is_active "data"}}'><a class="navlink" href="data">Daten</a></li>
  <li class='{{is_active "print"}}'><a class="navlink" href="print">Print Summary</a></li>
</template>