.dt__row {
	margin-bottom: 10px;
}

.dt__column {
	font-size: 0.8em;
}

.dt__head {
	margin-bottom: 20px;
	.dt__column--earning {
		color: inherit;
	}
	.dt__column--spending {
		color: inherit;
	}
}

.dt__column--earning {
	color: green;
}

.dt__column--spending {
	color: red;
}


.switch.small {
	height: 2em;
}

.switch.small > span {
	width: 2em;
	height: 2em;
}

.switch.small label {
	line-height: 2.5em;
}