.dt__row {
	margin-bottom: 10px;
}

.dt__column {
	font-size: 0.8em;
}

.dt__head {
	margin-bottom: 20px;
	.dt__column--earning {
		color: inherit;
	}
	.dt__column--spending {
		color: inherit;
	}
}

.dt__column--earning {
	color: green;
}

.dt__column--spending {
	color: red;
}


div.switch.small {
	height: 2em;
}

div.switch.small > span {
	width: 2em;
	height: 2em;
}

div.switch.small label {
	line-height: 2.5em;
}

select {
	height: 2em;
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875em;
	margin: 0 0 1em 0;
	padding: 0.3em;
	width: 100%;
}

select:focus {
	outline: none;
}